<!DOCTYPE html>
<html>
  <head>
    <title>SplitPies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto&display=swap" rel="stylesheet">
    <script type='text/javascript'>
      window.logo = '<%= image_url('splitpies_logo.jpg') %>'
      window.pie = '<%= image_url('piephoto.jpg') %>'
      window.money = '<%= image_url('money.jpg') %>'
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
